<div class="container">
  

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <span class="crumb">Chrome Extension Tutorial: Auto-Fill PM Kissan Example</span>
      </div>
      <div class="row">

      <div class="col-sm-3">
        <div class="row">
          <div class="card">
            <div class="card-header">
              <strong>IMPORT AADHAAR LIST</strong> 
            </div>
              <form class="form-horizontal" [formGroup]="createForm">
            <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-12">
                    <input type="file" style="display: inline-block;" formControlName="theFile" class="form-control" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .xls, .ods, .csv">
                    <input type="hidden" name="fileHidden" formControlName="imageInput"/>
                  </div>
                </div>

              <div class="form-group col-md-12" *ngIf="!validFile">
                Invalid File
              </div>

            </div>
              </form>
          </div>
          
          <div class="card">
              <div class="card-body">
                OTHER EXAMPLE <br><br>
                <button class="btn btn-sm btn-info" (click)="gotoAadhaar()">Aadhaar Verify Example</button>
              </div>
              <div class="card-body">                
              Before using this apps. PLease download and install chrome extensionand excel format from  <a href="https://drive.google.com/drive/folders/1rjqsnG2ettPmyTvSAJ3BpnrztlzCbqZQ?usp=sharing" target="_blank">Google Drive</a>

              <br><br>
              If you want to create make your own Chrome Extension and Web App like this please visit our Github Page - 
              <br><br><a href="https://github.com/caisiasdev/chromx-autofill/tree/master" target="_blank">Chrome Extension</a>
              <br><br><a href="https://github.com/caisiasdev/ChromeAutoFillClientApp" target="_blank">Web Application</a>

              </div>
          </div>
        </div>


      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Customer Name</th>
                  <th>Aadhaar Number</th>
                  <th>Account Number</th>
                  <th>Check with Aadhaar</th>
                  <th>Check with Bank Account</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of theInput; index as i">
                  <td>{{i+1}}</td>
                  <td>{{item.customerName}}</td>
                  <td>{{item.aadhaarno}}</td>
                  <td>{{item.accountNo}}</td>
                  <td>                        
                        <div> 
                            <a class="btn btn-sm btn-warning" href="https://www.pmkisan.gov.in/BeneficiaryStatus.aspx?uidno={{item.aadhaarno}}&type=kisanuid" target="_blank">Check Now</a>
                        </div>
                    </td>
                  <td>                        
                        <div> 
                            <a class="btn btn-sm btn-warning" href="https://www.pmkisan.gov.in/BeneficiaryStatus.aspx?accno={{item.accountNo}}&type=kisanaccno" target="_blank">Check Now</a>
                        </div>
                    </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div><!--/.row-->
</div>